@model Dictionary<int, Travel>
@*
    
*@

<h2>Lista podróży</h2>
<a class="btn btn-primary"
   asp-action="Create"
   asp-controller="Travel">Dodaj</a>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Data rozpoczęcia</th>
        <th>Data zakończenia</th>
        <th>Miejsce początkowe</th>
        <th>Miejsce końcowe</th>
        <th>Uczestnicy</th>
        <th>Przewodnik</th>
        <th>Akcje</th>
    </tr>
    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Value.Name</td>
            <td>@item.Value.StartDate.ToString("dd-MM-yyyy")</td>
            <td>@item.Value.EndDate.ToString("dd-MM-yyyy")</td>
            <td>@item.Value.StartPlace</td>
            <td>@item.Value.EndPlace</td>
            <td>@item.Value.Participants</td>
            <td>@item.Value.Przewodnik</td>
            <td>
                <a class="btn btn-primary"
                   asp-action="Edit"
                   asp-controller="Travel"
                   asp-route-id=@item.Value.Id>Edytuj</a>
                <a class="btn btn-primary"
                   asp-action="Details"
                   asp-controller="Travel"
                   asp-route-id=@item.Value.Id>Szczegóły</a>
                <a class="btn btn-primary"
                   asp-action="Delete"
                   asp-controller="Travel"
                   asp-route-id=@item.Value.Id>Usuń</a>
            </td>
        </tr>
    }
</table>
