@model Calculator
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>@Model.x @Html.Raw(@Model.Op)  @Model.y = </p>

<strong>@Model.Calculate()</strong>
